*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}
img{
    width: 256px;
    height: 256px ;

}
/*Começo header*/
header{
    background-color: #C73F4A;
    margin-bottom: 5%;
    padding-bottom: 2%;
    border-radius: 1%;
    width:98%;
    margin-left: 1%;
}
header h1, header h3{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
    color: #fff;
    font-family: "Arial"
}

.menu{
    font-size: 36px;
    font-family: "Impact";
    color: #71d099;
    background-color:#C73F4A;
    padding-left: 3%;
    margin-top: 2%;
    text-decoration: underline;
}

/*Começo Produtos*/
#Produtos {
    display: flex; 
    background-color: brown;
    padding: 5%;
    width:98%;
    margin-left: 1%;
    border-radius: 1%;
    flex-direction: column;
}
#Produtos h2{
    display: block; 
    color: #71d099;
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 36px;
}


#Produtos h3, #Produtos h5,  #Produtos p{
    color: #71d099;
}


/*Começo carrossel*/
.carrosselWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerCarrossel, .container2Carossel, .container3Carossel{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Produtos img{
    border-radius: 5%;
}
.imgsCarrossel, .imgs2Carrossel ,.imgs3Carrossel {
    display: flex;
    position: relative;
    
}

.itemCarrossel{
    display: none;
}
.itemCarrossel.active{
    display: block;
}
.legendaCarrossel{
display: none;
}
.legendaCarrossel.active{
    display: block;
}

.indicadoresBotoes, .indicadores2Botoes{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top:220px;
}
.indicadoresBotoes button, .indicadores2Botoes button{
    width: 10px;
    height: 10px;
    border-radius: 25%;
    border: none;
    margin:0px 5px;
    background-color: rgb(209, 159, 255);
    cursor: pointer;
    
}
button.active{
    background-color: blueviolet;
    
}

/*Começo Contatos*/
#Contatos{
    
    line-height: 64px;
    font-weight: bold; 
    margin-top: 2%;
    margin-bottom: 2% ;
   
}
#Contatos a{
    margin-left: 3%;

}
#Contatos a:nth-child(2){
    margin-left: 0;
    
}
/*Começo Sobre*/
#Sobre{
    background-color: #C73F4A;
    text-align: center;
    border-radius: 1%;
    width:98%;
    margin-left: 1%;
    padding-bottom:1% ;
}
#Sobre p{
    width: 50%;
    margin-left: 25%;
    color: #fff;
}
#Sobre h3{
    color: #fff;
}
/*Começo footer*/
footer{
    background-color:blueviolet;
    text-align: center;
    color: #fff;
    width: 98%;
    margin-left: 1%;
    
    
}



